.header {
    width: auto;
    box-sizing: border-box;
    min-height: 80px;
    background-color: white;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.header__navigation {
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 35px;
    display: flex;
    width: $fullhd-width;
    box-sizing: border-box;
    padding-left: 196px;
    position: relative;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    background-color: #B4CDD4;
    width: 196px;
    height: 80px;
}

.header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4CDD4;
    height: 80px;
}

.header__menu {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.header__contact-list {
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header__contact-list a {
    font-size: 21px;
    color: #00186B;
    text-decoration: none;
    text-transform: uppercase;
}

.header__button {
    display: none;
}

@media (max-width: 767px) {

    .site-menu {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .header__navigation {
        min-width: $mobile-width;
        padding-right: 0;
    }

    .header {
        min-height: 80px;
    }

    .header__contact-list {
        padding-left: 20px;
        padding-right: 10px;
        margin-left: auto; 
    }

    .header__button {
        display: block;
        background-color: white;
        border: none;
        width: 80px;
        height: 80px;
        position: relative;
        padding: 0;
        margin: 0;
        outline: none;
        cursor: pointer;
        margin-left: auto;
    }

    .header__button::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 24px;
        height: 2px;
        background-color: #00186B;
        box-shadow: 0 -11px #00186B, 0 11px #00186B;
    }
}