.intro {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    box-sizing: border-box;
    width: $fullhd-width;
    min-height: 500px;
    margin: 0 auto;
}

.intro__block {
    position: absolute;
    top: 25%;
    left: 8%;
}

.intro__title {
    font-size: 48px;
    margin-bottom: 20px;
}

.intro__text {
    font-family: "Raleway-Bold";
    font-size: 36px;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.intro__button {
    display: block;
    background-color: #0038FF;
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    font-family: "Raleway-Bold";
    width: 280px;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(0, 56, 255, 0.75);
    border-radius: 8px;
    transition: box-shadow 0.2s;
}

.intro__button:hover,
.intro__button:focus {
    box-shadow: 0px 0px 25px rgba(0, 56, 255, 0.75);
    transition: box-shadow 0.2s;
}

.intro__photo {
    vertical-align: bottom;
    height: 700px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1899px) {
    .intro {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .intro__photo {
        height: 500px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        min-width: $mobile-width;
    }
}
