body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff") format("woff"),
        url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.woff") format("woff"),
        url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.woff") format("woff"),
        url("../fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.title {
    font-family: "Raleway-ExtraBold"; 
    color: #00186B;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }