.site-menu__item {
    box-sizing: border-box;
    margin-right: 4px;
}

.site-menu__item:nth-last-child() {
    margin-right: 0;
}

.site-menu__item a {
    min-width: 120px;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: #00186B;
    display: block;
    min-height: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

.site-menu__item:hover a,
.site-menu__item:focus a {
    border-color: #0038FF;
}

.site-menu__item--active a {
    border-color: #0038FF;
}

@media (min-width: $square-width) and (max-width: 1199px) {

    .site-menu__item a {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 100px;
        max-width: 100px;
    }

    .site-menu__item {
        box-sizing: border-box;
        margin-right: 2px;
    }
}

@media (min-width: $tablet-width) and (max-width: 999px) {
    .site-menu__item a {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 80px;
        max-width: 80px;
        border: none;
    }

    .site-menu__item--active a {
        font-family: "Raleway-Bold";
    }
}