.wrapper {
    background-color: #B4CDD4;
    display: flex;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 45px;
    padding-bottom: 86px;
    width: 1900px;
    box-sizing: border-box;
}