.wrapper {
    background-color: #B4CDD4;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    padding-bottom: 86px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
}

@media (max-width: 767px) {
    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
}