.header {
  width: auto;
  box-sizing: border-box;
  min-height: 80px;
  background-color: white;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); }

.header__navigation {
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 35px;
  display: flex;
  width: 1900px;
  box-sizing: border-box;
  padding-left: 196px;
  position: relative; }

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  background-color: #B4CDD4;
  width: 196px;
  height: 80px; }

.header__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B4CDD4;
  height: 80px; }

.header__menu {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  align-items: center;
  justify-content: center; }

.header__contact-list {
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; }

.header__contact-list a {
  font-size: 21px;
  color: #00186B;
  text-decoration: none;
  text-transform: uppercase; }

.header__button {
  display: none; }

@media (max-width: 767px) {
  .site-menu {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
  .header__navigation {
    min-width: 320px;
    padding-right: 0; }
  .header {
    min-height: 80px; }
  .header__contact-list {
    padding-left: 20px;
    padding-right: 10px;
    margin-left: auto; }
  .header__button {
    display: block;
    background-color: white;
    border: none;
    width: 80px;
    height: 80px;
    position: relative;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    margin-left: auto; }
  .header__button::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 24px;
    height: 2px;
    background-color: #00186B;
    box-shadow: 0 -11px #00186B, 0 11px #00186B; } }

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  margin: 0 auto; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.title {
  font-family: "Raleway-Bold";
  color: #00186B;
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.site-menu__item {
  box-sizing: border-box;
  margin-right: 4px; }

.site-menu__item:nth-last-child() {
  margin-right: 0; }

.site-menu__item a {
  min-width: 120px;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  color: #00186B;
  display: block;
  min-height: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 7px;
  border: 2px solid white;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase; }

.site-menu__item:hover a,
.site-menu__item:focus a {
  border-color: #0038FF; }

.site-menu__item--active a {
  border-color: #0038FF; }

@media (min-width: 1000px) and (max-width: 1199px) {
  .site-menu__item a {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    max-width: 100px; }
  .site-menu__item {
    box-sizing: border-box;
    margin-right: 2px; } }

@media (min-width: 768px) and (max-width: 999px) {
  .site-menu__item a {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
    max-width: 80px;
    border: none; }
  .site-menu__item--active a {
    font-family: "Raleway-Bold"; } }

.contact-list {
  align-items: center;
  display: none !important; }

.contact-list__item {
  margin-right: 20px; }

.contact-list__item:last-of-type {
  margin-right: 0; }

.intro {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  box-sizing: border-box;
  width: 1900px;
  min-height: 500px;
  margin: 0 auto; }

.intro__block {
  position: absolute;
  top: 25%;
  left: 8%; }

.intro__title {
  font-size: 48px;
  margin-bottom: 20px; }

.intro__text {
  font-family: "Raleway-Bold";
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px; }

.intro__button {
  display: block;
  background-color: #0038FF;
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  font-family: "Raleway-Bold";
  width: 280px;
  height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 56, 255, 0.75);
  border-radius: 8px;
  transition: box-shadow 0.2s; }

.intro__button:hover,
.intro__button:focus {
  box-shadow: 0px 0px 25px rgba(0, 56, 255, 0.75);
  transition: box-shadow 0.2s; }

.intro__photo {
  vertical-align: bottom;
  height: 700px;
  object-fit: cover;
  width: 100%; }

@media (max-width: 1899px) {
  .intro {
    width: 100%; } }

@media (max-width: 1500px) {
  .intro__photo {
    height: 500px; } }

@media (max-width: 767px) {
  .intro {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    min-width: 320px; } }

.fountains {
  width: 1900px;
  margin: 0 auto; }

.fountains__list {
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px; }

.fountains__list > .fountains__wrapper {
  flex-direction: column; }

.fountains__wrapper {
  justify-content: space-between;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap; }

.fountains__item {
  position: relative; }

.fountains__title-box {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.2s; }

.fountains-item__photo {
  vertical-align: bottom; }

.fountains-item__title,
.fountains-item__text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px; }

.fountains-item__text {
  display: none; }

.fountains__link:hover .fountains__title-box {
  height: 100%;
  transition: height 0.2s; }

.fountains__link:hover .fountains-item__text {
  display: block; }

.fountains__link:hover .fountains-item__title {
  display: none; }

.fountains-item--1 {
  margin-bottom: 20px; }

.fountains-item--2 {
  margin-right: 20px; }

.fountains-item--4 {
  margin-left: 20px; }

@media (min-width: 1200px) and (max-width: 1899px) {
  .fountains {
    width: 100%; }
  .fountains__wrapper {
    flex-shrink: 1; }
  .fountains__list {
    flex-wrap: nowrap;
    padding-left: 35px;
    padding-right: 35px; }
  .fountains-item__photo {
    width: 100%; } }

@media (min-width: 1000px) and (max-width: 1199px) {
  .fountains {
    width: 100%; }
  .fountains__wrapper {
    flex-shrink: 1; }
  .fountains__list {
    flex-wrap: nowrap;
    padding-left: 35px;
    padding-right: 35px; }
  .fountains-item__photo {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .fountains {
    width: 100%; }
  .fountains__wrapper {
    width: 100%;
    flex-shrink: 1; }
  .fountains__list {
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px; }
  .fountains-item--4 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    max-height: 450px;
    overflow: hidden; }
  .fountains-item--4 .fountains-item__photo {
    width: 100%;
    margin-top: -550px; }
  .fountains-item__photo {
    width: 100%; } }

@media (max-width: 767px) {
  .fountains {
    width: 100%; }
  .fountains__wrapper {
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 1; }
  .fountains__list {
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px; }
  .fountains__item {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
    height: 320px;
    overflow: hidden;
    min-width: 320px; }
  .fountains-item__photo {
    width: 100%; }
  .fountains-item__photo {
    object-fit: fill; }
  .fountains-item--4 {
    width: 100%;
    margin-left: 0;
    max-height: 450px;
    overflow: hidden; } }

.about {
  width: 100%;
  background-image: url("../img/82fcd3_7a9abf1cf93845128c7233ec2618ee98_mv2 1.jpg");
  background-repeat: no-repeat;
  min-height: 393px;
  padding-top: 25px;
  box-sizing: border-box;
  background-size: cover;
  padding-bottom: 25px;
  margin: 0 auto; }

.about > .about__title {
  margin-bottom: 29px; }

.about__title {
  font-size: 36px;
  font-family: "Raleway-Bold";
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.about__list {
  margin: 0;
  padding: 0;
  padding-left: 135px;
  padding-right: 135px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1900px;
  margin: 0 auto; }

.about__item {
  padding-top: 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  position: relative; }

.about__item::before {
  position: absolute;
  content: "";
  width: 106px;
  height: 106px;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.about__item--document::before {
  background-image: url("../img/Group 64.svg");
  background-repeat: no-repeat; }

.about__item--idea::before {
  background-image: url("../img/Group 63.svg");
  background-repeat: no-repeat; }

.about__item--years::before {
  background-image: url("../img/Group 48.svg");
  background-repeat: no-repeat; }

.about__item .about__title {
  font-size: 20px;
  color: #00186B;
  margin: 0;
  margin-bottom: 10px; }

.about__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 400px;
  text-align: center; }

@media (max-width: 1899px) {
  .about {
    min-width: 320px;
    width: auto; }
  .about__list {
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-right: 0px; } }

@media (max-width: 1199px) {
  .about__list {
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px; }
  .about__item {
    margin-bottom: 10px;
    width: 100%; } }

.reviews {
  padding-top: 35px;
  position: relative;
  padding-bottom: 20px;
  min-width: 320px;
  width: 1900px;
  margin: 0 auto; }

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding-left: 170px;
  padding-right: 170px;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 15px; }

.reviews__title {
  margin-bottom: 35px;
  text-align: center;
  font-size: 36px;
  font-family: "Raleway-Bold";
  text-transform: uppercase; }

.reviews__item {
  border: 1px solid black;
  width: 500px;
  height: 750px; }

.reviews__item {
  margin-right: 25px; }

.reviews__item:last-of-type {
  margin-right: 0px; }

.reviews__controls {
  margin: 0 auto;
  width: 100px; }

.reviews__button {
  position: absolute;
  top: 450px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0; }

.reviews__button-1 {
  left: 50px; }

.reviews__button-2 {
  right: 50px; }

.reviews__button-1 img {
  transform: rotate(180deg);
  pointer-events: none; }

.reviews__controls-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.reviws__controls-item {
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-radius: 50%; }

.reviws__controls-item:last-of-type {
  margin-right: 0; }

.reviws__controls-item--active {
  border: solid 1px #0038FF;
  background-color: #0038FF; }

@media (max-width: 1899px) {
  .reviews {
    width: 100%; }
  .reviews__button,
  .reviews__button img {
    width: 35px;
    height: 70px;
    top: 50%; } }

@media (min-width: 1200px) and (max-width: 1899px) {
  .reviews__item {
    height: 520px;
    margin-right: 20px;
    flex-grow: 1; }
  .reviews__list {
    padding-left: 60px;
    padding-right: 60px; }
  .reviews__button-1 {
    left: 10px; }
  .reviews__button-2 {
    right: 10px; } }

@media (min-width: 1000px) and (max-width: 1199px) {
  .reviews__item {
    height: 520px;
    margin-right: 15px; }
  .reviews__list {
    padding-left: 60px;
    padding-right: 60px; }
  .reviews__button-1 {
    left: 10px; }
  .reviews__button-2 {
    right: 10px; } }

@media (min-width: 768px) and (max-width: 999px) {
  .reviews__item {
    height: 325px;
    margin-right: 10px; }
  .reviews__list {
    padding-left: 50px;
    padding-right: 50px; }
  .reviews__button-1 {
    left: 10px; }
  .reviews__button-2 {
    right: 10px; }
  .reviews__button,
  .reviews__button img {
    width: 25px;
    height: 50px;
    top: 50%; } }

@media (max-width: 767px) {
  .reviews__item {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 15px;
    height: 180px;
    max-width: 500px; }
  .reviews__controls-list {
    display: none; }
  .reviews__list {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px; }
  .reviews__button {
    display: none; }
  .reviews__list {
    flex-wrap: wrap; } }

.wrapper {
  background-color: #B4CDD4;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 45px;
  padding-bottom: 86px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px; }

@media (max-width: 767px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; } }

.contacts {
  flex-grow: 1;
  max-width: 830px;
  min-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px; }

.contacts__title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Raleway-Bold";
  text-align: center;
  margin-bottom: 40px; }

.contacts__map iframe {
  width: 100%;
  height: 460px;
  min-width: 320px; }

.contacts__map {
  margin-bottom: 30px;
  min-width: 320px; }

.contacts__wrapper {
  display: flex; }

.contacts__wrapper .contacts__title {
  color: #00186B;
  font-size: 20px;
  font-family: "Raleway-Bold";
  margin: 0;
  margin-right: 10px; }

.contacts__subtitle {
  font-size: 20px;
  font-family: "Raleway";
  margin: 0; }

@media (max-width: 1199px) {
  .contacts {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 25px; } }

.form {
  flex-grow: 1;
  min-width: 420px;
  max-width: 675px;
  display: flex;
  flex-direction: column; }

.form__title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Raleway-Bold";
  text-align: center;
  margin-bottom: 40px; }

.form__form {
  max-width: 675px;
  display: flex;
  flex-direction: column; }

.form__button {
  width: 100%;
  height: 82px;
  color: white;
  background-color: #0038FF;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Raleway-Bold";
  box-shadow: 0px 0px 15px #0038FF;
  text-align: center;
  transition: box-shadow 0.2s;
  cursor: pointer; }

.form__button:hover,
.form__button:focus {
  box-shadow: 0px 0px 25px #0038FF;
  transition: box-shadow 0.2s; }

.form__input {
  color: #00186B;
  font-size: 24px;
  width: 100%;
  flex-shrink: 1;
  height: 70px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 22px;
  padding-bottom: 22px; }

.form__input::placeholder {
  color: #00186B; }

.form__input:focus,
.form__input:hover {
  border: none;
  outline: none; }

.form__textarea {
  width: 100%;
  height: 245px; }

@media (max-width: 1199px) {
  .form {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 25px; }
  .form__form {
    max-width: 100%; } }

@media (max-width: 767px) {
  .form {
    min-width: 320px; } }

.footer {
  background-color: #00186B;
  min-height: 125px;
  color: white;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px; }

.footer__wrapper {
  min-height: 125px;
  display: flex; }

.footer__copyright {
  min-height: 50px; }

.footer__menu {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  align-items: center;
  padding-right: 10px;
  padding-left: 22px;
  justify-content: center; }

.footer__contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.footer__contact-list a {
  font-size: 21px;
  color: #00186B;
  text-decoration: none;
  text-transform: uppercase; }

.footer__navigation {
  display: flex;
  width: 1900px;
  box-sizing: border-box;
  padding-right: 35px;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.footer__copyright {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  position: relative; }

.footer__copyright::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.7; }

.copyright__text {
  opacity: 0.7;
  text-align: center;
  margin: 0;
  padding: 0; }

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 80px; }

.footer__menu a {
  color: white;
  border-color: #00186B; }

.footer__menu a:hover {
  border-color: white; }

.footer__contact-list .contact-list__item a {
  color: white; }
